<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!--  AlL REST resources will be prefixed by /api -->
  <context-param>
      <param-name>resteasy.servlet.mapping.prefix</param-name>
      <param-value>/api</param-value>
  </context-param> 
   
  <!-- Servlets -->
  <servlet>
    <servlet-name>flickrServlet</servlet-name>
    <servlet-class>es.server.FlickrAuthenticatedServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>flickrServlet</servlet-name>
    <url-pattern>/photoload/flickr</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>dropboxServlet</servlet-name>
    <servlet-class>es.server.DropboxAuthenticatedServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>dropboxServlet</servlet-name>
    <url-pattern>/photoload/dropbox</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>facebookServlet</servlet-name>
    <servlet-class>es.server.FacebookAuthenticatedServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>facebookServlet</servlet-name>
    <url-pattern>/photoload/facebook</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>driveServlet</servlet-name>
    <servlet-class>es.server.GoogleDriveAuthenticatedServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>driveServlet</servlet-name>
    <url-pattern>/photoload/googledrive</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>Resteasy</servlet-name>
      <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
      <init-param>
          <param-name>javax.ws.rs.Application</param-name>
          <param-value>es.api.ComentariosApi</param-value>
      </init-param>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>Resteasy</servlet-name>
      <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>PhotoLoad.html</welcome-file>
  </welcome-file-list>

    <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

</web-app>
